.flexslider .slides > li {
	display: none;
	position: relative;
} /* Hide the slides before the JS is loaded. Avoids image jumping */
.flex-pauseplay span {
	text-transform: capitalize;
}
/* Clearfix for the .slides element */
.slides:after {
	clear: both;
	content: ".";
	display: block;
	height: 0;
	line-height: 0;
	visibility: hidden;
}

html[xmlns] .slides {
	display: block;
}
* html .slides {
	height: 1%;
}

.flexslider {
	margin: 35px 0 15px;
	position: relative;
}
.flex-caption {
	background: rgba(0, 0, 0, 0.7);
	bottom: 0;
	color: #fff;
	left: 0;
	position: absolute;
	width: 100%;
	z-index: 10;
}

.flex-caption p {
	padding:12px;
}
.flexslider .slides {
	list-style: none outside none;
	margin: 0;
}
.flexslider .flex-direction-nav {
	display: none;
}
.flexslider .flex-control-paging{
	margin: 0;
	overflow: hidden;
	position: absolute;
	right: 0;
	top: -27px;
}
.flexslider .flex-control-paging li{
	float: left;
	line-height: 0;
	margin: 0 0 0 3px;
	overflow: hidden;
	padding: 0;
}
.flexslider .flex-control-paging li a {
	background: url(../img/pags.png) no-repeat 0 0;
	cursor: pointer;
	display: block;
	font-size: 0;
	height:17px;
	line-height: 0;
	margin: 0;
	overflow: hidden;
	padding: 0;
	text-indent: -1000px;
	width:18px;
}
.flexslider .flex-control-paging li a:hover,
.flexslider .flex-control-paging li a.flex-active {
	background-position: 0 bottom;
}